@use "../../assets/styles/_partials/mixins";

#container-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  @include mixins.border(left);
  @include mixins.border(right);
  @include mixins.with-container;
}
