@use "../../assets/styles/_partials/mixins";
@use "../../assets/styles/_partials/variables";
#nav {
  nav {
    @include mixins.with-container;
    border-bottom: 4px solid variables.$gray-3;
    margin: 0 auto;
    z-index: 10;
  }

  .logo {
    height: 2rem;
    display: inline-block;
    position: relative;

    @include mixins.mq_md {
      height: 3rem;
    }

    @include mixins.mq_lg {
      height: 3.5rem;
    }

    img {
      height: 100%;
    }

    &:hover img {
      filter: brightness(0) saturate(100%) invert(88%) sepia(74%)
        saturate(5057%) hue-rotate(359deg) brightness(104%) contrast(106%);
    }
  }

  .nav-link,
  .nav-link.active {
    color: #fff;
    cursor: pointer;
  }

  .nav-link:hover,
  .nav-link.active {
    text-decoration: underline;
  }

  .navbar-nav {
    column-gap: 1rem;
    background-color: #000000cf;
    box-shadow: 0 5px 7px 5px #000;
    padding: 1rem 1.5rem;

    @include mixins.mq_lg {
      background-color: transparent;
      box-shadow: none;
      padding: 0;
    }
  }
}
