@use "../../assets/styles/_partials/mixins";
@use "../../assets/styles/_partials/variables";

#header {
  padding: 0 2.5rem;
  min-height: max-content;
  height: calc(100vh - 3.5rem);

  span {
    display: block;
    text-align: center;
    @include mixins.mq_lg {
      max-width: 610px;
      text-align: left;
    }
  }

  .hero-bg {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    min-height: max-content;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/bg/bg_1.png"),
      linear-gradient(to bottom, #000 0%, #00000052 13%);
  }
}

#filter {
  .accordion-button,
  .accordion-item {
    background-color: #000 !important;
    color: #fff;
  }
  .accordion-button::after {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(8%)
      hue-rotate(146deg) brightness(103%) contrast(103%);
  }
}

#results {
  .basket {
    height: 1.5rem;
  }

  .form-select {
    width: max-content;
    background-color: #000 !important;
    color: #fff;
    cursor: pointer;
    border: none;
  }
  .accordion-button::after {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(8%)
      hue-rotate(146deg) brightness(103%) contrast(103%);
  }
  .article-wrapper {
    row-gap: 4rem;
  }

  .sale {
    background: variables.$grad-yellow-opaque;
    color: #000;
    padding: 0.25rem 2rem;
    position: absolute;
    top: 0;
    left: 1.5rem;
  }

  .icon-heart {
    width: 1.3rem;
    height: 1.3rem;
    position: absolute;
    top: 0.75rem;
    right: 2rem;
  }

  .card {
    cursor: pointer;
  }
  .card-img-top {
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center;
  }
  .card-body {
    background-color: #000;
  }
  .prev-price {
    color: #959595;
  }
}
